################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreDeploy/.vs/CoreDeploy/v16
/CoreDeploy/CoreDeploy/obj
